
/*Landing Page */

.landing-background {
	background: url('landing_page.jpg') no-repeat center center fixed; 
	/*background-size: 100%;*/
	background max-width: 100%;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
} 

.center-container {
    height: 100%;
    position: relative;
}

.title-center {
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 128px;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}

.landing-page-form {
	position: absolute;
	top: 50%;
	left: 50%;
	
}

body {
	font-family: 'Open Sans Condensed', sans-serif;
}

/* Text */

h1 {
	font-family: 'News Cycle', sans-serif;
	font-size: 96px;
	margin-top: auto;
	margin-bottom: auto;
	text-align: center;
	vertical-align: middle;
}

h2 {
	font-family: 'News Cycle', sans-serif;
}



p {
	font-family: 'News Cycle', sans-serif;
}

.landing-page-link:visited {
	color: FFFFFF;
	text-decoration: none;
}

a:link {
	color: 000000;
	text-decoration: none;
}

a:visited {
	color: 000000;
	text-decoration: none;
}

/* Content Pages: */

.header-container {
	margin-left: 10%;
	margin-right: 10%;
}

.header-text {
	margin-top: 15%;
}

.content-container {
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10%;
}

iframe {
	float: left !important;
}

/* Navigation Bar */

.nav-bar-container {
	margin-top: 0px;
	right: 25px;
	display: block;
	text-align: right;
	font-size: 30px;
	position: absolute;
}

.nav-bar-text {
	float: right;
	margin-left: 20px;
}

